In [438]:
import numpy as np
import pandas as pd
import ast
import pymongo
from pymongo import MongoClient
import json
import nltk
# nltk.download('wordnet')
# nltk.download('omw-1.4')
# nltk.download('stopwords')
# nltk.download('punkt')
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from bson import ObjectId
from sklearn.metrics.pairwise import cosine_similarity

# Database Connection

In [439]:
CONNECTION_STRING = "mongodb://prathamrasal:pratham@movies-shard-00-00.3vhge.mongodb.net:27017,movies-shard-00-01.3vhge.mongodb.net:27017,movies-shard-00-02.3vhge.mongodb.net:27017/sihdb?ssl=true&replicaSet=atlas-13vdfc-shard-0&authSource=admin&retryWrites=true&w=majority"
client = MongoClient(CONNECTION_STRING)
db = client['sihdb']
resources = db['resources']
institutes =db['institutes']

In [440]:
resInfo=resources.find()
resInfo= list(resInfo)
resDF = pd.DataFrame(resInfo)
# title, description, cost , reputation point
# resDF.head(2)

In [441]:
insInfo=institutes.find()
insInfo= list(insInfo)
insDF = pd.DataFrame(insInfo)
street = []
state = []
city = []
for i in range(len(insDF)): 
    street.append(insDF.iloc[i].address['street'])
    city.append(insDF.iloc[i].address['city'])
    state.append(insDF.iloc[i].address['state'])
insDF['street'] = street
insDF['city'] = city
insDF['state'] = state
insDF = insDF[['_id','instituteName','aisheCode','naac','street','city','state']]
# insDF.tail(5)

In [442]:
resDF = pd.merge(resDF,insDF,left_on="lendingInstitute", right_on = "_id", how="inner")
resDF.tail(3)

,_id_x,title,cost,description,feedback,lendingInstitute,__v,_id_y,instituteName,aisheCode,naac,street,city,state
2734,62f415a64d4f5fe937b4109f,Khadi Lip Balm Pack of 2 Lime,140,Key Features of Khadi Lip Balm Pack of 2 Lime ...,"[{""rating"":4,""from"":[{""$oid"":""6234cce422ace6f8...",62f412426fc0348badda5abf,0,62f412426fc0348badda5abf,"SHAHEED MAHENDRA KARMA VISHWAVIDYALAYA, BASTAR...",U-0082,C,"494001 , Shaheed Mahendra Karma Vishwavidyala...",Jagdalpur,Chhattisgarh
2735,62f415ad4d4f5fe937b411ed,Younky Blue Women's Full Coverage Bra,399,Younky Blue Women's Full Coverage Bra - Buy Bl...,"[{""rating"":4,""from"":[{""$oid"":""6234cd1222ace6f8...",62f412426fc0348badda5abf,0,62f412426fc0348badda5abf,"SHAHEED MAHENDRA KARMA VISHWAVIDYALAYA, BASTAR...",U-0082,C,"494001 , Shaheed Mahendra Karma Vishwavidyala...",Jagdalpur,Chhattisgarh
2736,62f415b84d4f5fe937b4144d,Vivity Comfortable Women's Plunge Bra,1200,Vivity Comfortable Women's Plunge Bra - Buy Bl...,"[{""rating"":3,""from"":[{""$oid"":""6234cce922ace6f8...",62f412426fc0348badda5abf,0,62f412426fc0348badda5abf,"SHAHEED MAHENDRA KARMA VISHWAVIDYALAYA, BASTAR...",U-0082,C,"494001 , Shaheed Mahendra Karma Vishwavidyala...",Jagdalpur,Chhattisgarh

# Data Selection

In [443]:
resDF = resDF[['_id_x','title','description','cost','city','street','state','naac']]
resDF.head(5)

,_id_x,title,description,cost,city,street,state,naac
0,62f4155b4d4f5fe937b40101,Babeezworld Dungaree Baby Boy's Combo,Specifications of Babeezworld Dungaree Baby Bo...,999,Kolkata,"700064 , DD-26, Sector-l, Salt lake City",West Bengal,A
1,62f415774d4f5fe937b406a5,Shilpi Casual Cape Sleeve Solid Women's Top,Shilpi Casual Cape Sleeve Solid Women's Top - ...,499,Kolkata,"700064 , DD-26, Sector-l, Salt lake City",West Bengal,A
2,62f4157f4d4f5fe937b40879,Navaksha Necktie Men's Combo,Navaksha Necktie Men's Combo\n ...,1550,Kolkata,"700064 , DD-26, Sector-l, Salt lake City",West Bengal,A
3,62f415824d4f5fe937b40935,Autofurnish Car Cover For Santro Xing,Specifications of Autofurnish Car Cover For Sa...,1530,Kolkata,"700064 , DD-26, Sector-l, Salt lake City",West Bengal,A
4,62f4158a4d4f5fe937b40ad9,Speedwav 240428 Sun Shade For Maruti Swift,Specifications of Speedwav 240428 Sun Shade Fo...,1400,Kolkata,"700064 , DD-26, Sector-l, Salt lake City",West Bengal,A

# Data Cleaning

In [444]:
resDF.dropna(inplace=True)
resDF.isnull().sum()

_id_x          0
title          0
description    0
cost           0
city           0
street         0
state          0
naac           0
dtype: int64

In [445]:
lematizer = WordNetLemmatizer()
def getCleanText(text):
    text = str(text)
    words = word_tokenize(text)
    wordd = []
    for w in words:
        word = lematizer.lemmatize(w)
        if not word in set(stopwords.words('english')):
            wordd.append(word)
    cleanText = ' '.join(wordd)
    return cleanText

def toLowerCase(text):
    text = str(text)
    return text.lower()

In [446]:
resDF['description'] = resDF['description'].apply(getCleanText)

# Data Processing

In [447]:
resDF['tags'] = ''
resDF.head(2)

,_id_x,title,description,cost,city,street,state,naac,tags
0,62f4155b4d4f5fe937b40101,Babeezworld Dungaree Baby Boy's Combo,Specifications Babeezworld Dungaree Baby Boy '...,999,Kolkata,"700064 , DD-26, Sector-l, Salt lake City",West Bengal,A,
1,62f415774d4f5fe937b406a5,Shilpi Casual Cape Sleeve Solid Women's Top,Shilpi Casual Cape Sleeve Solid Women 's Top -...,499,Kolkata,"700064 , DD-26, Sector-l, Salt lake City",West Bengal,A,

In [448]:
def generateTag():
    resDF['tags'] = resDF['title'] + " " + resDF['description']+ " "  + resDF['cost']+ " " + resDF['city']+ " " +resDF['street']+ " " +resDF['state']+ " " +resDF['naac']
    resDF['tags'] = resDF['tags'].apply(lambda x: x.lower())
# resDF['tags'].head(2)
generateTag()

# Vectorization

In [449]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [450]:
def vectorize(narr):
    vector = cv.fit_transform(narr.astype('str')).toarray()
    similarity = cosine_similarity(vector)
    return similarity

In [451]:
def recommend(title):
    title_index =  resDF[resDF['title'] == title].index[0]
    distance = similarity[title_index]
    recommended_list = sorted(list(enumerate(distance)),reverse=True,key= lambda x:x[1])
    for i in recommended_list[1:6]:
        print(resDF.iloc[i[0]].title)

In [452]:
def getInstitute(instituteId):
    instituteId = ObjectId(instituteId)
    institute = institutes.find_one({"_id": instituteId})
    institute = pd.DataFrame(institute)
    city = institute['address']['city']
    street = institute['address']['street']
    state = institute['address']['state']
    naac = institute['naac'][0]
    tags = city + street +state + naac
    myDict = {
         "title":" ",
         "description":" ", 
         "cost":" ", 
         "city": city,
         "street":street,
         "state":state,
         "naac": naac,
         "tags": tags.lower()
    }
    newDF = resDF.append(myDict,ignore_index = True)
    return newDF

In [465]:
def dashboard(id):
    newDF = getInstitute(id)
    newarr = newDF['tags'].values
    vector = vectorize(newarr)
    recommended_list = sorted(list(enumerate(vector[-1])),reverse=True,key= lambda x:x[1])
    for i in recommended_list[1:20]:
        print(resDF.iloc[i[0]]._id_x)

In [466]:
dashboard('62f412426fc0348badda5add')

C:\Users\prath\AppData\Local\Temp\ipykernel_18316\3645184096.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  newDF = resDF.append(myDict,ignore_index = True)

62f415954d4f5fe937b40d51
62f415a34d4f5fe937b40feb
62f415694d4f5fe937b403d3
62f415bc4d4f5fe937b4152d
62f415a24d4f5fe937b40f9b
62f4157c4d4f5fe937b407ed
62f415bc4d4f5fe937b41529
62f4159d4d4f5fe937b40ed9
62f415804d4f5fe937b408b3
62f4158f4d4f5fe937b40bdb
62f415824d4f5fe937b40911
62f4158b4d4f5fe937b40b15
62f415754d4f5fe937b40643
62f415904d4f5fe937b40c2f
62f4159a4d4f5fe937b40e63
62f4159c4d4f5fe937b40ea7
62f4155f4d4f5fe937b401c1
62f415714d4f5fe937b4057d
62f4156c4d4f5fe937b40485