In [45]:
import numpy as np
import pandas as pd
import ast
import pymongo
from pymongo import MongoClient
import json
import nltk
# nltk.download('wordnet')
# nltk.download('omw-1.4')
# nltk.download('stopwords')
# nltk.download('punkt')
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from bson import ObjectId
from sklearn.metrics.pairwise import cosine_similarity

# Database Connection

In [46]:
CONNECTION_STRING = "mongodb://prathamrasal:pratham@movies-shard-00-00.3vhge.mongodb.net:27017,movies-shard-00-01.3vhge.mongodb.net:27017,movies-shard-00-02.3vhge.mongodb.net:27017/sihdb?ssl=true&replicaSet=atlas-13vdfc-shard-0&authSource=admin&retryWrites=true&w=majority"
client = MongoClient(CONNECTION_STRING)
db = client['sihdb']
resources = db['resources']
institutes =db['institutes']

In [47]:
resInfo=resources.find()
resInfo= list(resInfo)
resDF = pd.DataFrame(resInfo)
# title, description, cost , reputation point
resDF.head(2)

,_id,title,cost,description,feedback,lendingInstitute,__v
0,62f4155b4d4f5fe937b40101,Babeezworld Dungaree Baby Boy's Combo,999,Specifications of Babeezworld Dungaree Baby Bo...,"[{""rating"":2,""from"":[{""$oid"":""6234ccf022ace6f8...",62f412456fc0348badda5b71,0
1,62f4155b4d4f5fe937b40103,Rapter BNC-179 BNC Wire Connector,2299,"Rapter BNC-179 BNC Wire Connector (Silver, Pac...","[{""rating"":3,""from"":[{""$oid"":""6234cd1222ace6f8...",62f412436fc0348badda5b13,0

In [48]:
insInfo=institutes.find()
insInfo= list(insInfo)
insDF = pd.DataFrame(insInfo)
street = []
state = []
city = []
for i in range(len(insDF)): 
    street.append(insDF.iloc[i].address['street'])
    city.append(insDF.iloc[i].address['city'])
    state.append(insDF.iloc[i].address['state'])
insDF['street'] = street
insDF['city'] = city
insDF['state'] = state
insDF = insDF[['_id','instituteName','aisheCode','naac','street','city','state']]
insDF.head(5)

,_id,instituteName,aisheCode,naac,street,city,state
0,62f412416fc0348badda5ab7,"CHAUDHARY DEVI LAL UNIVERSITY, SIRSA",U-0160,B,"125055 , Lal Bahadur Shastri Bhawan, Chaudhar...",Sirsa,Haryana
1,62f412416fc0348badda5ab9,MODY UNIVERSITY OF SCIENCE AND TECHNOLOGY,U-0412,A+,"332311 , NH 52, Lakshmangarh, Dist - Sikar",Lakshmangarh,Rajasthan
2,62f412416fc0348badda5abb,TEERTHANKER MAHAVEER UNIVERSITY,U-0544,A,"244001 , Bagarpur, Delhi Road, Moradabad",Moradabad,Uttar pradesh
3,62f412416fc0348badda5abd,JAIPUR NATIONAL UNIVERSITY,U-0401,B++,"302017 , Jaipur-Agra Bypass , Near New RTO Of...",Jaipur,Rajasthan
4,62f412426fc0348badda5abf,"SHAHEED MAHENDRA KARMA VISHWAVIDYALAYA, BASTAR...",U-0082,C,"494001 , Shaheed Mahendra Karma Vishwavidyala...",Jagdalpur,Chhattisgarh

In [49]:
##TESTING 

insDF.rename(columns = {'_id':'insId'}, inplace = True)
resDF.rename(columns = {'lendingInstitute':'insId'}, inplace = True)

resDF = resDF.merge(insDF,on='insId')
resDF.head(5)

,_id,title,cost,description,feedback,insId,__v,instituteName,aisheCode,naac,street,city,state
0,62f4155b4d4f5fe937b40101,Babeezworld Dungaree Baby Boy's Combo,999,Specifications of Babeezworld Dungaree Baby Bo...,"[{""rating"":2,""from"":[{""$oid"":""6234ccf022ace6f8...",62f412456fc0348badda5b71,0,NETAJI SUBHAS OPEN UNIVERSITY,U-0578,A,"700064 , DD-26, Sector-l, Salt lake City",Kolkata,West Bengal
1,62f415774d4f5fe937b406a5,Shilpi Casual Cape Sleeve Solid Women's Top,499,Shilpi Casual Cape Sleeve Solid Women's Top - ...,"[{""rating"":3,""from"":[{""$oid"":""6234cd1322ace6f8...",62f412456fc0348badda5b71,0,NETAJI SUBHAS OPEN UNIVERSITY,U-0578,A,"700064 , DD-26, Sector-l, Salt lake City",Kolkata,West Bengal
2,62f4157f4d4f5fe937b40879,Navaksha Necktie Men's Combo,1550,Navaksha Necktie Men's Combo\n ...,"[{""rating"":3,""from"":[{""$oid"":""6234ccd922ace6f8...",62f412456fc0348badda5b71,0,NETAJI SUBHAS OPEN UNIVERSITY,U-0578,A,"700064 , DD-26, Sector-l, Salt lake City",Kolkata,West Bengal
3,62f415824d4f5fe937b40935,Autofurnish Car Cover For Santro Xing,1530,Specifications of Autofurnish Car Cover For Sa...,"[{""rating"":2,""from"":[{""$oid"":""6234ccfb22ace6f8...",62f412456fc0348badda5b71,0,NETAJI SUBHAS OPEN UNIVERSITY,U-0578,A,"700064 , DD-26, Sector-l, Salt lake City",Kolkata,West Bengal
4,62f4158a4d4f5fe937b40ad9,Speedwav 240428 Sun Shade For Maruti Swift,1400,Specifications of Speedwav 240428 Sun Shade Fo...,"[{""rating"":1,""from"":[{""$oid"":""6234ccf122ace6f8...",62f412456fc0348badda5b71,0,NETAJI SUBHAS OPEN UNIVERSITY,U-0578,A,"700064 , DD-26, Sector-l, Salt lake City",Kolkata,West Bengal

# Data Selection

In [50]:
# # resDF = resDF[['_id','title','description','cost','lendingInstitute']]
# temp = []
# for i in range(len(resDF)):
#     ins = institutes.find_one({'_id':resDF['lendingInstitute'][i]})
#     temp.append(ins)
# resDF['city'] = ''
# resDF['street'] = ''
# resDF['state'] = ''
# resDF['naac'] = ''
# resDF['reputationPoint'] = ''

# for i in range(len(temp)):
#     resDF['street'][i] = temp[i]['address']['street']
#     resDF['city'][i] = temp[i]['address']['city']
#     resDF['state'][i] = temp[i]['address']['state']
#     resDF['naac'][i] = temp[i]['naac']
#     resDF['reputationPoint'][i] = temp[i]['reputationPoint']

In [51]:
resDF = resDF[['title','description','cost','city','street','state','naac']]
resDF.head(5)

,title,description,cost,city,street,state,naac
0,Babeezworld Dungaree Baby Boy's Combo,Specifications of Babeezworld Dungaree Baby Bo...,999,Kolkata,"700064 , DD-26, Sector-l, Salt lake City",West Bengal,A
1,Shilpi Casual Cape Sleeve Solid Women's Top,Shilpi Casual Cape Sleeve Solid Women's Top - ...,499,Kolkata,"700064 , DD-26, Sector-l, Salt lake City",West Bengal,A
2,Navaksha Necktie Men's Combo,Navaksha Necktie Men's Combo\n ...,1550,Kolkata,"700064 , DD-26, Sector-l, Salt lake City",West Bengal,A
3,Autofurnish Car Cover For Santro Xing,Specifications of Autofurnish Car Cover For Sa...,1530,Kolkata,"700064 , DD-26, Sector-l, Salt lake City",West Bengal,A
4,Speedwav 240428 Sun Shade For Maruti Swift,Specifications of Speedwav 240428 Sun Shade Fo...,1400,Kolkata,"700064 , DD-26, Sector-l, Salt lake City",West Bengal,A

In [52]:
resDF.dropna(inplace=True)
resDF.isnull().sum()

title          0
description    0
cost           0
city           0
street         0
state          0
naac           0
dtype: int64

# Data Cleaning

In [53]:
lematizer = WordNetLemmatizer()
def getCleanText(text):
    text = str(text)
    words = word_tokenize(text)
    wordd = []
    for w in words:
        word = lematizer.lemmatize(w)
        if not word in set(stopwords.words('english')):
            wordd.append(word)
    cleanText = ' '.join(wordd)
    return cleanText

def toLowerCase(text):
    text = str(text)
    return text.lower()

In [ ]:
resDF['description'] = resDF['description'].apply(getCleanText)

# Data Processing

In [ ]:
resDF['tags'] = ''
resDF.head(2)

In [ ]:
def generateTag():
    resDF['tags'] = resDF['title'] + " " + resDF['description']+ " "  + resDF['cost']+ " " + resDF['city']+ " " +resDF['street']+ " " +resDF['state']+ " " +resDF['naac']
    resDF['tags'] = resDF['tags'].apply(lambda x: x.lower())
# resDF['tags'].head(2)
generateTag()

# Vectorization

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [ ]:
vector = cv.fit_transform(resDF['tags'].values.astype('str')).toarray()

In [ ]:
# cv.get_feature_names()

In [ ]:
similarity = cosine_similarity(vector)

In [ ]:
# sorted(list(enumerate(similarity[0])),reverse=True,key= lambda x:x[1])

In [ ]:
def vectorize():
    pass

In [ ]:
def recommend(title):
    title_index =  resDF[resDF['title'] ==title].index[0]
    distance = similarity[title_index]
    recommended_list = sorted(list(enumerate(distance)),reverse=True,key= lambda x:x[1])
    for i in recommended_list[1:6]:
        print(resDF.iloc[i[0]].title)
        
def getInstitute(instituteId):
    instituteId =  ObjectId(instituteId)
    institute = institutes.find_one({"_id": instituteId})
    institute = pd.DataFrame(institute)
    city = institute['address']['city']
    street = institute['address']['street']
    state = institute['address']['state']
    naac = institute['naac'][0]
    tags = city + street +state + naac
    myDict = {
         "title":" ",
         "description":" ", 
         "cost":" ", 
         "city": city,
         "street":street,
         "state":state,
         "naac": naac,
         "tags": tags.lower()
    }
    newDF = resDF.append(myDict,ignore_index = True)
    return newDF

newDF = getInstitute('62f412426fc0348badda5ac9')
generateTag()
newDF.tail(5)

In [ ]:
# recommend("Kasemantra Back Cover for Apple iPad Mini")